#bigBox {
	margin: 0 auto;
	width: 1600px;
}
header{
	background-color: dodgerblue;
	padding: 10px;
}
h1{
	text-align: center;
	font-size: 5em;
	color: snow;
}
img {
	max-width: 100%;
}
.form {
	background-color: dodgerblue;
	margin: 0;
}
.form h2 {
	color: snow;
	text-align: center;
	margin: 0;
	font-size: 2em;
}
form {
	display: flex;
	padding: 20px;
	background-color: dodgerblue;
	justify-content: space-around;
}
form div+div {
	margin-left: 20px;
}
form label {
	color: snow;
}
.mami {
	display: flex;
	margin:20px;
	flex-wrap: wrap;
	

}
.mami div {
	display:flex;
	flex-direction: column;
	width: 400px;
	border: 2px solid black;
	border-radius: 6px;
	margin: 10px;
}
.mami h2, h3, p {
	margin: 10px;
	text-align: center;
}

.mami h2 {
	margin-bottom: 0;
}
.mami img {
	height: 250px;
}
@media screen and (max-width:800px) {
	.mami{
		display: flex;
		flex-direction: column;
	}
}